<div class="relative mt-24 mb-24">
    <svg class="absolute left-0 top-0 h-64 text-cyan-500 fill-current hidden lg:block" viewBox="400 0 900 600"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
        <g transform="translate(381.224961165879 271.78604676636445)">
            <path
                d="M182.9 -217.4C242.3 -208.5 299.5 -162.2 306 -107.6C312.6 -52.9 268.5 10 244 77.4C219.6 144.9 214.7 216.9 177.3 251C139.9 285.2 69.9 281.6 21.2 252.4C-27.6 223.3 -55.1 168.5 -86 132.2C-116.9 95.9 -151.2 78.1 -163.4 50.7C-175.6 23.3 -165.8 -13.7 -156.9 -54.1C-148.1 -94.5 -140.2 -138.2 -114.2 -158C-88.2 -177.7 -44.1 -173.3 8.8 -185.5C61.7 -197.6 123.4 -226.2 182.9 -217.4">
            </path>
        </g>
    </svg>
    <div
        class="mt-12 w-full lg:flex lg:space-x-24 lg:space-y-0 flex-wrap space-y-12 justify-center mb-24 py-20 px-4 lg:px-32 lg:px-0">
        <div
            class="bg-slate-800 border-t-8 rounded border-cyan-500 text-gray-300 px-4 py-3 shadow-md shadow-cyan-300 w-full lg:w-1/3">
            <div>
                <div class="py-1 flex justify-center">
                    <svg class="w-40 h-40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                    </svg>
                </div>
                <div>
                    <p class="font-bold text-center">No Logs, Ads, Selling Your Data, It's That Simple</p>
                    <p class="mt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna
                        aliqua. Mollis nunc sed id semper risus in hendrerit. Sagittis eu volutpat odio
                        facilisis
                        mauris sit amet massa vitae.
                    </p>
                </div>
            </div>
        </div>

        <div
            class="bg-slate-800 border-t-8 rounded border-cyan-500 text-gray-300 px-4 py-3 shadow-md shadow-cyan-300 w-full lg:w-1/3">
            <div>
                <div class="py-1 flex justify-center">
                    <svg class="h-40 w-40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.115 5.19l.319 1.913A6 6 0 008.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 002.288-4.042 1.087 1.087 0 00-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 01-.98-.314l-.295-.295a1.125 1.125 0 010-1.591l.13-.132a1.125 1.125 0 011.3-.21l.603.302a.809.809 0 001.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 001.528-1.732l.146-.292M6.115 5.19A9 9 0 1017.18 4.64M6.115 5.19A8.965 8.965 0 0112 3c1.929 0 3.716.607 5.18 1.64" />
                    </svg>

                </div>
                <div>
                    <p class="font-bold text-center">One Search, Multiple Search Engine Sources</p>
                    <p class="mt-4">
                        Porta nibh venenatis cras sed felis eget velit. Etiam non quam lacus suspendisse
                        faucibus
                        interdum posuere lorem ipsum.
                        Nullam vehicula ipsum a arcu cursus vitae congue. Odio ut sem nulla pharetra diam sit
                        amet.
                        Urna nec tincidunt praesent
                        semper feugiat.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <svg class="absolute right-0 bottom-0 h-64 text-cyan-500 fill-current hidden lg:block" viewBox="-400 0 900 600"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
        <g transform="translate(381.224961165879 271.78604676636445)">
            <path
                d="M182.9 -217.4C242.3 -208.5 299.5 -162.2 306 -107.6C312.6 -52.9 268.5 10 244 77.4C219.6 144.9 214.7 216.9 177.3 251C139.9 285.2 69.9 281.6 21.2 252.4C-27.6 223.3 -55.1 168.5 -86 132.2C-116.9 95.9 -151.2 78.1 -163.4 50.7C-175.6 23.3 -165.8 -13.7 -156.9 -54.1C-148.1 -94.5 -140.2 -138.2 -114.2 -158C-88.2 -177.7 -44.1 -173.3 8.8 -185.5C61.7 -197.6 123.4 -226.2 182.9 -217.4">
            </path>
        </g>
    </svg>
</div>
</div>
